*{
    margin: 0;
    padding: 0;
    font-family: realTimeRoundedRegular,Arial,Helvetica,sans-serif;
}
html, body {
    height: 100%;
  }
  
body{
    margin-top: 40px;
}

nav{
    height: 100%;
    color: #207EEF;
    display: flex;
    flex-direction: column;
    
    width: 200px;

    border-right: 2px solid #207EEF;
    position: fixed;
    margin-right: 100px;
    
}
.userinfo-navbar{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilepicture-navbar{
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    background-color: black;
}
.nav-items{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 90%;
    padding-left: 20px;
    
    color: blue;
    text-decoration: none;
    transition: all 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, #2625e3,#0bbaef);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left center;
}
.nav-items:hover, .nav-items:active, .nav-items:hover a{
    background-size: 100% 100%;
    color: white;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    
    
}
.main-page{
    display: flex;
    flex-direction: row;
}
.navbar-icon{
    margin-bottom: -2px;
}

.main{
    margin-left: 202px;
    margin-top: 50px;
    
}
.activesite, .activesite a{
    background-size: 100% 100%;
    color: white;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}
.activesite a{
    color: white;
    text-decoration: none;
}