<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index-style.css">
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js"></script>
    <!-- <script src="login.js"></script>-->

    <title>Document</title>
</head>
<body>
<nav>
    <button href="/dashboard-home">Login</button>
</nav>
    <div>
        <div>
            <h1>
                Mischok Academy Digitales Klassenbuch
            </h1>
            <a href="/dashboard-home">Zum Dashboard</a>
        </div>
    </div>
</body>
</html>